{{! CLIENT SIDE }}

<div class='container'>
	<!-- Header -->
	<header class='header'>
		<h1 class='text-3xl font-semibold text-gray-800'>{{title}}</h1>
		<p class='text-gray-600 mt-2'>Browse our amazing selection of products!</p>
	</header>

	<!-- Product List -->
	<section class='product-list' id='productList'>
		<!-- The products will be dynamically injected here by index.js -->
	</section>
	<!-- Button to Real-Time Products -->
	<div class='button-container'>
		<a href='/realtimeproducts' class='btn'>View Real-Time Products</a>
	</div>

</div>

{{! The Socket.io script is added that allows us ti connect to the server via websockets }}
<script src='/socket.io/socket.io.js'></script>

{{! CDN for the sweetalert2 }}
<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>

{{! The script that will be executed on the server side }}
<script src='/js/home.js'></script>